Desktop/
.zshenv
Music/
Scripts/
Pictures/
Downloads/
.vscode/
.vscode-insiders/
.xinitrc
.xsession-errors
.xsession-errors.old
.zcompdump-archlinux-5.9
.zcompdump-archlinux-5.9.archlinux.3865
.zcompdump-archlinux-5.9.zwc
.zsh_history
.ssh/
.pki/
.profile
.rustup/
.spicetify/
.themes/
.viminfo
.nuget/
.npm/
.mozilla/
.local/
.icons/
.gtkrc-2.0
.gnupg/
.gitconfig
.dotnet/
.fehbg
.dmrc
.cargo/
.cache/
.bashrc
.bash_profile
.bash_history
.Xauthority
.bash_logout
.oh-my-zsh/
.config/BraveSoftware/
.config/Code - Insiders/
.config/Code/
.config/Kvantum/
.config/QtProject.conf 
.config/Thunar/
.config/awesome/
.config/btop/
.config/dconf/
.config/dunst/
.config/eww/
.config/gtk-3.0/
.config/htop/
.config/mimeapps.list
.config/ncmpcpp/
.config/ncspot/
.config/nwg-look/
.config/picom/
.config/polybar/
.config/pulse/
.config/qt5ct/
.config/qtile
.config/session/
.config/spicetify/
.config/spotify/
.config/systemd/
.config/user-dirs.dirs 
.config/user-dirs.locale 
.config/waybar.bak.old/
.config/xfce4/
.config/xsettingsd/
